@inject IImageService _ImageService
@inject IBlogService _BlogService
@inject ICategoryService _CategoryService

<div class="sidebar-inner">

    <!-- Start Category Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        <ul>
            @foreach (Category category in await _CategoryService.GetCategoriesAsync(4))
            {
                <li class="cat-item">
                    <a href="/BlogPosts/FilterByCategory/@category.Id" class="inner">
                        <div class="thumbnail">
                            <img src="@_ImageService.ConvertByteArrayToFile(
                            category.ImageData, category.ImageType, DefaultImage.CategoryImage)"
                                 alt="@category.Name">
                        </div>
                        <div class="content">
                            <h5 class="title">@category.Name</h5>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- End Category Widget  -->
    <!-- Start Search Widget  -->
    <div class="axil-single-widget widget widget_search mb--30">
        <h5 class="widget-title">Search</h5>
        <form asp-action="SearchIndex" asp-controller="BlogPosts">
            <div class="axil-search form-group">
                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                <input type="text" class="form-control" placeholder="Search" name="searchString">
            </div>
        </form>
    </div>
    <!-- End Search Widget  -->
    <!-- Start Popular Blogs Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Popular on Pen #> Sword</h5>
        <!-- Start Post List  -->
        <div class="post-medium-block">
            @foreach (BlogPost blogPost in await _BlogService.GetPopularBlogPostsAsync(3))
            {
                <!-- Start Single Post  -->
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a href="/Content/@blogPost.Slug">
                            <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData, blogPost.ImageType, DefaultImage.BlogPostImage)"
                                 alt="Post Image">
                        </a>
                    </div>
                    <div class="post-content">
                        <h6 class="title">
                            <a href="/Content/@blogPost.Slug">
                                @blogPost.Title
                            </a>
                        </h6>
                        <h6 class="post-author-name">
                            <a class="hover-flip-item-wrapper" asp-action="ShowAuthorProfile" asp-route-authorId="Model.Author.Id">
                                <span class="hover-flip-item">
                                    <span data-text="@blogPost.Author?.FullName">@blogPost?.Author?.FullName</span>
                                </span>
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li><span><i class="bi bi-calendar-event"></i> </span>@blogPost!.Created.ToString("MMM dd yyyy")</li>
                                <li><span><i class="bi bi-card-text"></i> </span>@blogPost.Comments.Count()</li>
                                <li><span><i class="bi bi-hand-thumbs-up"></i> </span>@blogPost.Likes.Count()</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Post  -->
            }
        </div>
        <!-- End Post List  -->
    </div>
    <!-- End Popular Blogs Widget  -->
    <!-- Start Social Icons Widget  -->
    <div class="axil-single-widget widget widget_social mb--30">
        <h5 class="widget-title">Stay In Touch</h5>
        <!-- Start Post List  -->
        <ul class="social-icon md-size justify-content-center">
            <li>
                <a href="https://www.linkedin.com/in/cadence-eva/" alt="linkedin">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/eva-grimm" alt="github">
                    <i class="bi bi-github"></i>
                </a>
            </li>
            <li>
                <a href="mailto:eva.custin@gmail.com" alt="email">
                    <i class="bi bi-envelope-at"></i>
                </a>
            </li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Social Icons Widget  -->
</div>