@model Category
@inject IImageService _ImageService

@{
    ViewData["Title"] = "Delete";
}

<h1 class="my-5">Are you sure you want to delete this?</h1>
<div>
    <div class="row my-3">
        <div class="col-lg-8 col-xl-8">
            <div class="content-block post-list-view mt--30">
                <div class="post-thumbnail">
                    <img src="@_ImageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType, DefaultImage.CategoryImage)" alt="Category Image">
                </div>
                <div class="post-content">
                    <h4 class="title">
                        <span data-text="@Model.Name">@Model.Name</span>
                    </h4>
                    <div class="post-meta-wrapper">
                        <div class="post-meta">
                            <div class="content">
                                <p>@Model.Description</p>
                                <ul class="post-meta-list">
                                    <li>Posts: @Model.BlogPosts.Count()</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xl-4">
            <div class="content-block post-list-view mt--30 h-100">
                <div class="post-content d-flex flex-column gap-3 align-items-center">
                    @* <form asp-action="Delete"> *@
@*                         <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete"
                               class="w-75 btn btn-outline-danger" /> *@
                        <a asp-action="DeleteConfirmed" asp-route-id="@Model.Id"
                            class="w-75 btn btn-outline-danger">
                            Delete
                        </a>
                        <a asp-action="Index"
                           class="w-75 btn btn-outline-warning">
                            Back to List
                        </a>
                    @* </form> *@
                </div>
            </div>
        </div>
    </div>
</div>