@model IEnumerable<Category>
@inject IImageService _ImageService;

@{
    ViewData["Title"] = "List of Categories";
}

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <a asp-action="Create" asp-controller="Categories" class="axil-button button-rounded btn-primary mb-5">New Category</a>
        <!-- Start Category List  -->
        @foreach (Category category in Model)
        {
            <div class="row my-3">
                <div class="col-lg-8 col-xl-8">
                    <div class="content-block post-list-view mt--30">
                        <div class="post-thumbnail">
                            <img src="@_ImageService.ConvertByteArrayToFile(category.ImageData, category.ImageType, DefaultImage.CategoryImage)" alt="Category Image">
                        </div>
                        <div class="post-content">
                            <h4 class="title">
                                <span data-text="@category.Name">@category.Name</span>
                            </h4>
                            <div class="post-meta-wrapper">
                                <div class="post-meta">
                                    <div class="content">
                                        <p>@category.Description</p>
                                        <ul class="post-meta-list">
                                            <li>Posts: @category.BlogPosts.Count()</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-4">
                    <div class="content-block post-list-view mt--30 h-100">
                        <div class="post-content d-flex flex-column gap-3 align-items-center">
                            <a asp-action="Edit" asp-controller="Categories" asp-route-id="@category.Id"
                               class="w-75 btn btn-outline-warning">Edit</a>
                            <a asp-action="Delete" asp-controller="Categories" asp-route-id="@category.Id"
                               class="w-75 btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- End Category List  -->
    </div>
</div>